@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* from love-running */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* animation to make things hover, credit https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}



body {
    background-image: linear-gradient(#FFFFFF, #eaad52);
    background-color: grey;
    font-family: 'Oswald', sans-serif;
    color: #3a3a3a
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 2px solid;
}

.h2-centered {
    text-align: center;
    font-size: 40px;
}

/* this lets the pop-out menu work in a prettier way */
.hide {
    opacity: 0;
}

#menu-buttons {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* partially taken from https://www.w3schools.com/howto/howto_css_outline_buttons.asp for convenience's sake */

#menu-buttons li {
    background-color: #fafafa;
    color: black;
    padding: 5px 2px;
    font-size: 1em;

}

/* love-running project's hidden buttons serve as the basis here, makes menu items hidden unless toggled */
nav {
    background-color: #ffffff;
    width: 60%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#menu-toggle:checked~nav {
    display: block;

}

#menu-toggle {
    display: none;
}

/* hides the hammer decoration */
.wait-hide1,.wait-hide2 {
    display: none;
}


/* allows the hammer decoration to be seen on mouse-over */
#home-page:hover .wait-hide1 {
    display: inline-block;
}

#story-page:hover .wait-hide1 {
    display: inline-block;
}

#signup-page:hover .wait-hide1 {
    display: inline-block;
}

/* hides the hidden hammer on click */
#home-page:active .wait-hide1 {
    display: none;
}

#story-page:active .wait-hide1 {
    display: none;
}

#signup-page:active .wait-hide1 {
    display: none;
}

/* changes to a different hammer icon on click */

#home-page:active .wait-hide2 {
    display: inline-block;
}

#story-page:active .wait-hide2 {
    display: inline-block;
}

#signup-page:active .wait-hide2 {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    position:fixed;
    background-color:#fafafa;
    width:100%;
    z-index:1;
}


.menu-toggle-label {
    font-size: 2rem;
    position: relative;
    align-self: center;
    right:1rem;
}


header>hr {
    display: none;
}

#mindset-bg {
    display: none;
}

#mindset-text {
    visibility:hidden;
}



/* the .active class shows the user which page they're on */
.active {
    text-decoration: underline;
}

#life-hacks {
    padding: 0 10px 10px;
}

/* credit to https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/, signup.html styling */
.join-button {
    background-color: #3a3a3a;
    color: #fafafa;
    border-color: #eaad52;
    padding: 2px;
    min-height: 50px;
    min-width: 90px;
    font-family: 'Oswald', sans-serif;
    position:relative;
    right:3px;
    top:.5px;
}

#signup {
    display:flex;
    flex-grow:inherit;
    justify-content:center;
    margin-bottom:5px;

}

#email_address {
    min-height: 50px;
    width:200px;
    margin-left:10px;
    font-size:1rem;
}

#email_address:hover {
    text-decoration:underline;
}


#email-group:hover {
    font-size: large;
    text-decoration: underline;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}



.join-button:active {
    color: #3a3a3a;
    background-color: #eaad52;

}

.signup-title {
    font-size:2rem;
    text-align:center;
    text-decoration:underline;
}

.signup-reason {
    font-size:1.3rem;
    text-align:center;
    max-width:390px;
}

/* code for the second subscribe form in the footer */
#email2 {
min-height: 50px;
    width:200px;
    margin-left:10px;
    font-size:1rem;
}

/* Taken from the love-running project, some help from https://reintech.io/blog/creating-responsive-hero-section-with-css */
#hero {
    height: 400px;
    background: url("../images/task-smasher-hero.webp") no-repeat center center/cover;
    position: relative;
    margin: 0;
    display: flex;
    border:1px rgba(58, 58, 58,.5) solid;
    box-shadow: #3a3a3a 1px 1px 1px 1.5px;

}

/* allows top menu elements to be underlined on mouseover */
#menu-buttons>a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid;
    border-radius: 10px;
}

/* footer stuff, taken from love-running project */

footer {
    max-width: 100%;
    background-color: rgba(58, 58, 58, .85);
    border: #3a3a3a solid;
}

#footer-div {
    clear:both;
}

/* #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
} */

#networks-email {
    display:flex;
    justify-content:space-between;
    color: #fafafa
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

.down {
    align-self:flex-end
}

#social-networks a:hover {
    font-size: large;
}






/* makes the link to the sign-up page more clear in the text of the our-story file */
.attention-grab {
    font-style: italic;
    text-decoration: underline;
}

#big-picture {
    display: none;
}


/* tablet query */

@media screen and (min-width:768px) {

    nav {
        width:90%;
    }
    #menu-buttons {
        flex-direction: row;
        font-size: large;
        padding-top: 20px;
    }

    #life-hacks hr {
        display: none;
    }

    /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid Tyler H gets credit specifically */
    #life-hacks {
        display: grid;
        grid-column-start: 1;
        grid-template-columns: repeat(3, .75fr);
        grid-auto-flow: column;
        justify-content: center;
    }

    /* need help making the font-awesome icons not stick. annoying. our_story.html */
    #story h2 {
        display: flex;
        justify-content: center;
        flex-basis: content;
    }

    .h2-centered {
        text-align: center;
        font-size: 50px;
    }

    #menu-buttons li {
        font-size: 2em;
    }

    .bottom-right {
        margin-top: 2.5rem;
    }

    /* styling for the signup page */
    #email_address {
        min-width:500px;
    }

    .join-button{
        top:1px;
    }

    .signup-reason {
        left:8rem;
        position:relative;
    }
}

/* laptop query */
@media screen and (min-width:1024px) {
    nav {
        background-color: #ffffff;
        width: 60%;
        /* this part is kept to counter-act the previous shadow  */
        box-shadow: 0 0px 0px #3a3a3a;
        display: inline;
        text-decoration: solid;
    }

    header {
        box-shadow:#3a3a3a 0px 1px 0px 0px;
        border:rgba(58, 58, 58,.7) .5px solid;
    }

    h1 {
        font-size: 3rem;
        margin-bottom:0px;
    }

    .menu-toggle-label {
        display: none;
    }

    #menu-buttons {
        padding-top:5px;
    }


    #hero {
        height: 100vh;
    }

    #mindset-bg {
        display: block;
        background-color: rgba(58, 58, 58, 0.80);
        box-shadow: 2px 2px 2px 1px #3a3a3a;
        width: 30rem;
        align-self: flex-end;
        position: relative;
        top: 4rem;
    }


    /* used https://cssgradient.io/blog/css-gradient-text/ as a basis */
    #mindset-text {
        visibility: visible;
        background: -webkit-linear-gradient(#eaad52, #fafafa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
    }

    #mindset-text h2 {
        text-align: center;
    }

    .h2-centered {
        margin-top: 5rem;
    }

    .hack-picture {
        width: 80%;
    }

    #life-hacks hr {
        display: none;
    }

    p {
        font-size: 1rem;
        padding-left: 5px;
    }


    /* start of repositioning to make the website pretty on desktops/laptops, credit to https://www.w3schools.com/cssref/pr_grid-template-columns.php */


    #life-hacks h2 {
        display: flex;
        justify-content: center;
    }

    #life-hacks {
        display: flex;
        justify-content: initial;
    }

    #life-hacks hr {
        display: block;
    }

    #push-right-2 {
        width: 30%;
        float: right;
        position: relative;
    }

    #push-left-2 {
        width: 30%;
        float: left;
        left: 8%;
        position: relative;
    }


    /* credit to https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
    #big-picture-2 {
        display: inline-block;
        background: url(../images/hammer-guy.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
        position: relative;
        align-self: center;
        left: 3rem;
        margin-top: 20px;
        border: 3px double;
        border-color: #b6b0a6;
        border-radius: 50%;
    }

    #big-picture-2:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .hack-picture {
        display: none;
    }


    /* started from love-running project's large landing page, our_story.html */
    #story {
        display: flex;
        width: 100%;
    }

    #how-to-help {
        padding-top: 3rem;
    }

    #push-right {
        width: 30%;
        float: right;
        left: 8%;
        position: relative;
    }

    #push-left {
        width: 30%;
        float: left;
        position: relative;
    }

    #big-picture {
        display: inline-block;
        background: url("../images/smash-background2.webp");
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
        position: relative;
        align-self: center;
        left: 4vw;
        margin-top: 20px;
        border: 3px double;
        border-color: #b6b0a6;
        border-radius: 50%;
    }

    #big-picture:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    /* styling for larger screens for signup.html */



    .signup-footer {
        margin-top:100px;
    }
}




    /* large screen query */
    @media screen and (min-width:1440px) {

        #mindset-bg {
            width: 40rem;
        }

        #push-right,
        #push-left-2 {
            left: 12%;
        }

        #push-right-2 {
            padding-top: .5rem;
        }

        .bottom-left {
            padding-top: .5rem;
        }

        #push-left {
            left: 1%;
        }

        #big-picture {
            left: 6%;
            width: 25rem;
            height: 25rem;
        }

        #big-picture-2 {
            left: 6em;
            width: 25rem;
            height: 25rem;
        }

        #how-to-help {
            padding-top: 0;
        }

        /* signup styling */

        .join-button {
            font-size:1rem;
            top:2px;
        }
    }