@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

body {
    font-family:'Oswald', sans-serif;
}

a {
    text-decoration:none;
    color:inherit;
}



#menu-buttons {
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

/* partially taken from https://www.w3schools.com/howto/howto_css_outline_buttons.asp for convenience's sake */

#menu-buttons li {
  background-color: #fafafa;
  color: black;
  padding:5px 2px;
  font-size: 20px;

}

/* love-running project's hidden buttons serve as the basis here, makes menu items hidden unless toggled */
nav {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#menu-toggle:checked~nav {
    display: block;

}

#menu-toggle {
    display:none;
}

header {
    display:flex;
    justify-content:space-between;
}

.menu-toggle-label {
    font-size: 2rem;
    position:relative;
    align-self:center;
}

header > hr {
    display:none;
}
 /* the .active class shows the user which page they're on */
.active {
    text-decoration:underline;
}

/* code for the mindset box drop-down */

#structures {
    background:rgba(213, 195, 161, 0.4);
    border: 3px solid black;
    border-radius:5px;
    padding-right:25px;
    padding-left:50px;
    width:25vw
}

#secrets-toggle:checked~#secrets {
    display:block
}

#secrets {
    display:none;
}

#secrets-toggle {
    display:none;
}
/* Taken from the love-running project, some help from https://reintech.io/blog/creating-responsive-hero-section-with-css */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/task-smasher-hero.webp") no-repeat center center/cover;
    position: relative;

}

/* allows top menu elements to be underlined on mouseover */
#menu-buttons > a:hover {
    text-decoration:underline;
}

 

