@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* from love-running */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* animation to make things hover, credit https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

body {
    background-image: linear-gradient(#FFFFFF, #eaad52);
    background-color: grey;
    font-family: 'Oswald', sans-serif;
    color: #3a3a3a
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 2px solid;
}

/* this lets the pop-out menu work in a prettier way */
.hide {
    opacity: 0;
}

#menu-buttons {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* partially taken from https://www.w3schools.com/howto/howto_css_outline_buttons.asp for convenience's sake */

#menu-buttons li {
    background-color: #fafafa;
    color: black;
    padding: 5px 2px;
    font-size: 1em;

}

/* love-running project's hidden buttons serve as the basis here, makes menu items hidden unless toggled */
nav {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#menu-toggle:checked~nav {
    display: block;

}

#menu-toggle {
    display: none;
}



header {
    display: flex;
    justify-content: space-between;
    font-size: larger;
}


.menu-toggle-label {
    font-size: 2rem;
    position: relative;
    align-self: center;
}


header>hr {
    display: none;
}

/* the .active class shows the user which page they're on */
.active {
    text-decoration: underline;
}

/* code for the mindset box drop-down */

#structures {
    background: rgba(213, 195, 161, 0.4);
    border: 3px solid #3a3a3a;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 50px;
    width: 25vw
}

#secrets-toggle:checked~#secrets {
    display: block
}

#secrets {
    display: none;
}

#secrets-toggle {
    display: none;
}

#radio-buttons {
    padding-bottom: 5%;
}

/* credit to https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/, signup.html styling */
.join-button {
    top: 50%;
    background-color: #3a3a3a;
    color: #fafafa;
    border-color: #eaad52;
    border-radius: 10px;
    margin-top: 2%;
    padding: 10px;
    min-height: 50px;
    min-width: 180px;
    font-family: 'Oswald', sans-serif;
}



#email_address {
    position: relative;
    left: 1.83rem;
}

#first_name {
    position: relative;
    right: .1rem;
}

#signup {
    display: flex;
    justify-content: space-around;
}

#no {
    position: relative;
    left: .25rem;
}

.join-button:hover {
    font-size: large;
    text-decoration: underline;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.join-button:active {
    color: #3a3a3a;
    background-color: #eaad52;

}


/* Taken from the love-running project, some help from https://reintech.io/blog/creating-responsive-hero-section-with-css */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/task-smasher-hero.webp") no-repeat center center/cover;
    position: relative;
    margin: 0;

}

/* allows top menu elements to be underlined on mouseover */
#menu-buttons>a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid;
    border-radius: 10px;
}

/* footer stuff, taken from love-running project */

footer {
    max-width: 100%;
    width: 100%;
    background-color: rgba(58, 58, 58, .85);
    border: #3a3a3a solid;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #fafafa
}

.social-networks li {
    display: inline;
}




/* makes the link to the sign-up page more clear in the text of the our-story file */
.attention-grab {
    font-style: italic;
    text-decoration: underline;
}

#big-picture {
    display: none;
}

/* tablet query */

@media screen and (min-width:768px) {

    #menu-buttons {
        flex-direction: row;
        font-size: large;
        padding-top: 20px;
    }

    .hack-picture {
        width: 55%;
    }

    /* need help making the font-awesome icons not stick. annoying. our_story.html */
    #story h2 {
        display: flex;
        justify-content: center;
        flex-basis: content;
    }

    .h2-centered {
        text-align: center;
        font-size: 50px;
    }

    #menu-buttons li {
        font-size: 2em;
    }
}

/* laptop query */
@media screen and (min-width:1024px) {
    #hero {
        height: 100vh;
    }

    .hack-picture {
        width: 80%;
    }

    #life-hacks hr {
        display: none;
    }

    p {
        font-size: 1rem;
        padding-left: 5px;
    }


    /* start of repositioning to make the website pretty on desktops/laptops, credit to https://www.w3schools.com/cssref/pr_grid-template-columns.php */

    #life-hacks {
        display: flex;
        width: 100%;
    }

    #life-hacks hr {
        display: block;
    }

    #push-right-2 {
        width: 30%;
        float: right;
        left: 3%;
        position: relative;
    }

    #push-left-2 {
        width: 30%;
        float: left;
        left: 8%;
        position: relative;
    }

    /* Evens out the bottom two sections */
    .bottom-right {
        padding-top: 2.5rem;
    }

    /* credit to https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
    #big-picture-2 {
        display: inline-block;
        background: url("../images/hammer-guy.webp");
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
        position: relative;
        align-self: center;
        left: 3.3rem;
        margin-top: 20px;
        border: 3px double;
        border-color: #b6b0a6;
        border-radius: 50%;
    }

    #big-picture-2:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    .hack-picture {
        display: none;
    }


    /* started from love-running project's large landing page, our_story.html */
    #story {
        display: flex;
        width: 100%;
    }

    #how-to-help {
        padding-top: 3rem;
    }

    #push-right {
        width: 30%;
        float: right;
        left: 8%;
        position: relative;
    }

    #push-left {
        width: 30%;
        float: left;
        position: relative;
    }

    #big-picture {
        display: inline-block;
        background: url("../images/smash-background2.webp");
        background-size: cover;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
        position: relative;
        align-self: center;
        left: 4vw;
        margin-top: 20px;
        border: 3px double;
        border-color: #b6b0a6;
        border-radius: 50%;
    }

    #big-picture:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;
    }




    /* large screen query */
    @media screen and (min-width:1440px) {

        #push-right,
        #push-left-2 {
            left: 12%;
        }

        #push-right-2 {
            padding-top:.5rem;
        }
        
        .bottom-right {
            padding-top:2rem;
        }

        .bottom-left {
            padding-top:.5rem;
        }
        #push-left {
            left: 1%;
        }

        #big-picture {
            left: 6%;
            width: 25rem;
            height: 25rem;
        }

        #big-picture-2 {
            left: 7%;
            width: 25rem;
            height: 25rem;
        }

        #how-to-help {
            padding-top: 0;
        }
    }